<div class="card">
  <p-card [style]="{ width: '50rem', 'margin-bottom': '2em' }">
    <ng-template pTemplate="header">
      <div class="card__header">
        <span class="card__header-title">
          <h2>To do list app</h2>
        </span>
      </div>
      <hr class="card__header-hr" />
    </ng-template>
    <ng-template pTemplate="body">
      <div class="search">
        <div class="p-input-icon-left" pTooltip="Search">
          <i class="pi pi-search"></i>
          <input
          disabled
            type="text"
            pInputText
            placeholder="Search"
            class="search__bar"
          />
        </div>
        <div class="search__button">
          <button
            pButton
            type="button"
            icon="pi pi-search"
            pTooltip="Search"
            label="Search"
            tooltipPosition="bottom"
          ></button>
        </div>
        <div class="search__filter">
          <button
            pButton
            type="button"
            label="Filter"
            icon="pi pi-filter"
            pTooltip="Filter"
            tooltipPosition="bottom"
          ></button>
        </div>
      </div>
      <task-action class="list"></task-action>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="card__footer">
        <p>This is footer</p>
      </div>
      
    </ng-template>
    
  </p-card>
</div>
