<div class="task-list" *ngFor="let task of listOfTask; let i = index">
  <task-table
    [task]="task"
    class="task-table"
    (click)="openTaskDialog(false)"
  ></task-table>
  <view-edit-task-popup
    [hasCalled]="viewTask"
    [task]="task"
    [taskIndex]="i"
    (closed)="viewTask = false"
    (editedValue)="getEditedValue($event)"
  ></view-edit-task-popup>
</div>
<button
  pButton
  type="button"
  label="Add"
  class="p-button-outlined p-button-rounded"
  icon="pi pi-plus"
  pTooltip="Add new task"
  tooltipPosition="bottom"
  (click)="addNewTask()"
></button>
<p-toast></p-toast>
<!-- <sb-task-dialogue></sb-task-dialogue> -->
