/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: url("./assets/open_sans_font/OpenSans-Italic-VariableFont_wdth\,wght.ttf"),
    url("./assets/open_sans_font/OpenSans-VariableFont_wdth\,wght.ttf");

  font-size: 14.5px;
  color: rgb(46, 46, 46);
  background-color: rgb(243, 241, 241);
  overflow: hidden;
}

.invalid {
  color: rgb(241, 2, 2);

  &-field {
    border-color: rgb(241, 2, 2);
  }
}

.pt-2 {
  padding-top: 2px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pt-5 {
  padding-top: 5px;
}

.pb-5 {
  padding-bottom: 5px;
}
